	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
	{
		margin: 0;
		padding: 0;
		border: 0;
		color: white;
		font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", AppleGothic, Dotum, Lucida Grande, Verdana Sans-serif;
	}
	body
	{
		background-image: url("../img/wood-bg.jpg");
		background-repeat: repeat;
		background-position: top left;
	}
	#bodyContainer
	{
		padding-top: 50px;
		margin: auto;
		min-width: 880px;
		max-width: 1200px;
		background: transparent;
	}
	/*导航栏css*/
	header
	{
		z-index: 1000;
		position: fixed;
		background-color: rgba(0,0,0,0.8);
		top: 0px;
		width: 100%;
		height: 50px;
	}
	header #nav-shell
	{
		height: 50px;
	}
	header #nav-shell #nav-content
	{
		min-width: 900px;
		max-width: 1200px;
		margin: auto;
	}
	header div div ul
	{
		list-style: none;
	}
	header div div ul li
	{
		float: left;
		margin: 0 14px;
		display: block;
	}
	header div div ul li a
	{
		display: block;
		color: white;
		padding: 14px 0.5em;
		background: transparent;
		font-weight: bold;
		text-decoration: none;
	}
	header div div ul li span
	{
		display: block;
		color: black;
		padding: 14px 0.5em;
		background: rgba(255,255,255,0.6);
		font-weight: bold;
		text-decoration: none;
	}
	header div div ul li a:hover
	{
		color: black;
		background: white;
	}
	/*导航栏css结束*/
	/*以下是弹出式form的css*/
	.white-popup {
		position: relative;
		background: rgba(0,0,0,0.7);
		padding: 50px;
		width: auto;
		max-width: 500px;
		margin: 20px auto;
	}
	form li
	{
		display: block;
	}
	form h1
	{
		margin-bottom: 20px;
	}
	form h1, form li, form h3, form h2, form em
	{
		color: white;
	}
	form select
	{
		color: white;
		background: #444;
		width: auto;
		padding: 5px;
		font-size: 16px;
		line-height: 1;
		border-radius: 0;
		-webkit-appearance: none;
	}
	form select option
	{
		color: white;
	}
	form input[type="range"]
	{
		-webkit-appearance:none;
		-moz-apperance:none;
		height:1px;
		margin-bottom: 5px;
	}
	form input[type="text"],form input[type="email"],form input[type="num"], form textarea, form input[type="submit"]
	{
		background: transparent;
		border-color: white;
		color: white;
	}
	form button
	{
		color: white !important;
	}
	/*弹出式popcss结束*/
