footer.footer
  .container
    p
      | 
      = 'by ' 
      a(href="https://xinhong.me") xinhong.me
      = ' | '
      a(href='https://github.com/Aahung/GEofU') Open sourced on Github
      = ' | '
      a(href='https://github.com/Aahung/GEofU/issues') Issues